/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-blue: #0d47a1;
    --color-dark-blue: #002171;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* Size */
    --size-border-radius: 4px;
    /* Animation */
    --animation-duration: 300ms;
}

/* Universal tags */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0px;
}

/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

.icon {
    width: 16px;
    height: 16px;
}

.icon-2x {
    height: 50px;
}

/* Navbar */

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    color: var(--color-white);
    padding: 8px 16px;
    transition: all var(--animation-duration) ease;
    z-index: 1;
}

#navbar.navbar--dark {
    background-color: var(--color-blue);
    padding: 8px;
}

.navbar__menu {
    display: flex;
    margin: 0;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    font-size: var(--font-micro);
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
    border-color: var(--color-white);
    background-color: var(--color-dark-blue);
}

.navbar__toggle-btn {
    position: absolute;
    top: 20px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

/* Home */

#home {
    background: url("imgs/home-background.png") center/cover no-repeat;
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home__title, .home__description {
    color: var(--color-white)
}

.home__contact {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: 4px;
    color: var(--color-white)
}

/* Section common */

.section {
    text-align: center;
    padding: 50px;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

/* About */

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 170px;
    margin: auto;
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
    color: var(--color-blue);
}

.major__icon i {
    transition: all var(--animation-duration) ease;
}

.major__icon i:hover {
    color: var(--color-dark-blue);
    transform: rotate(-20deg) scale(1.1);
}

.major__title, .major__description {
    color: var(--color-dark-grey)
}

.major__description {
    font-size: var(--font-small)
}

.job {
    display: flex;
    align-items: center;
}

.job__description {
    margin: 8px 0px 8px 16px;
    text-align: left;
}

.job__name, .job__period {
    color: var(--color-light-grey);
}

.job__name {
    font-size: var(--font-small);
}

.job__period {
    font-size: var(--font-micro);
}

.logo__container {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job__logo {
    max-width: 100%;
    max-height: 40px;
}

/* Skill */

#skill {
    background-color: var(--color-yellow);
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skillset__title {
    color: var(--color-white);
}

.skillset__left {
    align-items: center;
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skillset__right {
    flex-basis: 40%;
}

.tools {
    background-color: var(--color-grey);
}

.skill__description {
    display: flex;
    justify-content: space-between;
}

.skill {
    margin-bottom: 25px;
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value {
    height: 3px;
    background-color: var(--color-orange);
}

.tools, .etc {
    padding: 20px;
}

/* Work */

.work__categories {
    margin: 40px;
}

.category__btn {
    position: relative;
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
    width: 150px;
}

.category__btn.selected, .category__btn:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.category__btn.selected .category__count, .category__btn:hover .category__count {
    opacity: 1;
    top: 0;
}

.category__count {
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    margin-top: 5px;
    position: absolute;
    top: -20px;
    right: 16px;
    opacity: 0;
    transition: all var(--animation-duration) ease;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
}

.work__projects.animate-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 8px 16px;
}

.project.invisible {
    display: none;
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
    transform: translateY(10px);
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3 {
    color: var(--color-orange)
}

.project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
    width: 50px;
    height: 2px;
    background-color: var(--color-light-white);
}

/* project modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__header {
    padding: 16px;
    font-size: var(--font-regular);
    border-bottom: 0.5px solid var(--color-grey);
}

.modal__subheader {
    padding: 16px;
    font-size: var(--font-small);
}

.modal__subheader p {
    font-size: var(--font-micro);
}

.modal__header h2, .modal__footer h3 {
    color: var(--color-white);
}

.modal__body {
    padding: 2px 16px;
    text-align: left;
    font-size: var(--font-small);
    margin-bottom: 20px;
}

.modal__body ul {
    list-style: square;
    margin-left: 20px;
    margin-top: 0;
}

.modal__body li {
    margin-bottom: 10px;
    font-size: var(--font-micro);
}

.modal__content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    max-height: 800px;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animateModal;
    animation-duration: 400ms;
}

/* Add Animation */

@keyframes animateModal {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.modal__footer {
    padding: 8px 16px;
    background-color: var(--color-blue);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* carousel */

/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */

.falling-slide, .hrv-slide {
    display: none;
    text-align: center;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: #bbb;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* iframe */

.iframebox {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
}

.iframebox iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

​
/* Testimonial */

#testimonials {
    background-color: var(--color-light-white);
}

.testimonials {
    margin: 40px;
}

.testimonial {
    display: flex;
    margin: 32px 0;
}

.testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 40px;
}

.testimonial__speech-bubble {
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
    color: var(--color-light-grey)
}

/* Contact */

#contact {
    background-color: var(--color-blue);
}

.contact__title, .contact__email, .contact__rights {
    color: var(--color-white)
}

.contact__title {
    margin: 32px 0;
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
}

.contact__links i {
    transition: all var(--animation-duration) ease;
}

.contact__links i:hover {
    transform: scale(1.1);
    color: var(--color-yellow)
}

/* Arrow up */

.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    font-size: 40px;
    color: var(--color-white);
    border-radius: 50%;
    background-color: var(--color-dark-blue);
    opacity: 0;
    pointer-events: none;
    transition: all, var(--animation-duration), ease-in;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}

/* For below 768px screen width */

@media screen and (max-width: 768px) {
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }
    .navbar__toggle-btn {
        display: block;
        top: 16px;
        right: 16px;
    }
    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-blue);
    }
    .navbar__menu.open {
        display: block;
    }
    .section {
        padding: 16px;
        padding-top: 40px;
    }
    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }
    .work__categories {
        margin: 20px;
    }
    .about__majors {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .major {
        margin-bottom: 30px;
    }
    .skillset {
        flex-direction: column;
    }
    .category__btn {
        margin: 4px 0;
    }
    .project {
        flex-grow: 1;
    }
    .modal__content {
        max-height: 500px;
        overflow-y: scroll;
    }
    .testimonial__avatar {
        width: 80px;
        height: 80px;
    }
    .arrow-up {
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        right: 16px;
        bottom: 16px;
    }
}